:root {
  --ancho: 50%;
  --padding: 20px;
  --color: #00bb92;
  --bg-gradient: linear-gradient(135deg, #00c3ff, #77a1d3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bg-gradient);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #222b3a;
  margin-bottom: 30px;
  font-weight: 700;
}

.container {
  margin-bottom: 30px;
}

.dni {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #00bb92;
  font-size: 18px;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
}

.button button {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background: #00bb92;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button button:hover {
  background: #007f61;
}

.resultado {
  background: white;
  border-radius: 10px;
  padding: var(--padding);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.resultado h2 {
  color: #001a29;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

/* .resultado .dni,
.resultado .nombre,
.resultado .apellido,
.resultado .cui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
} */

.label {
  width: 25%;
  text-align: left;
}

.res input {
  width: 70%;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 16px;
  color: #333;

  /* Allow text to wrap and overflow if needed */
  white-space: normal;
  overflow: auto;
  text-overflow: ellipsis;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
